.proyectos-container {
    background-color: var(--fondo-gris);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}
.proyectos-container h2 {
    margin: 2rem 0rem 1rem 0rem;
}

.proyectos-item {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    gap: 2rem;
}

.proyectos-data h3,p {
    margin-bottom: 1rem;
}
.proyectos-data span {
    font-weight: 700;
}

.proyectos-desc {
    background-color: var(--azul-medio);
    padding: 1rem;
    border-radius: 1rem;
}

.imagen-proyecto {
    height: 12rem;
    width: 20rem;
    object-fit: contain;
    margin: 0 1rem;
    background-color: white;
    border-radius: 1rem;
}

.proyectos-icon {
    display: inline-block;
    height: 2.7rem;
    width: 2.7rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--blanco);
}
.proyectos-icon:hover {
    color: var(--azul-claro);
}

/* Importante: luego del and -> usar un espacio sino hay error en la sintaxis */
@media screen and (max-width:768px) {
    .proyectos-item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        max-width: 80%;
    }
    .proyectos-desc {
        padding-right: 0.8rem;
    }
}